/*//////////////////////////////////////////////////////////////*/
/* *Layout */
/*//////////////////////////////////////////////////////////////*/
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* This body will be displayed when width of screen is < 500px */
body {
  display: grid;
  /* gap: 20px; */
  grid-template-areas:
    "nav_header"
    "header"
    "pitch"
    "main"
    "footer";
  /* font-family: "League Spartan", sans-serif; */
  /* font-family: "Goldman", cursive; */
  font-family: "Turret Road", cursive;
  /*todo: find new font-family! */
  animation: fadeInAnimation ease 1s 1s 1 backwards;
  /* user-select: none; */
  background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover;
}

div.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.navigate {
  display: flex;
  text-align: right;
  flex-direction: column;
}
/*todo: Fix spacer så det blir skikkelig space mellom sections */

/*//////////////////////////////////////////////////////////////*/
/* *Color scheme backgrounds */
/*//////////////////////////////////////////////////////////////*/

body {
  color: #9bb6ff;
  background-color: #12003e;
}

nav {
  background-color: #04000eb7;
}

header {
  /* background-color: #12003e; */
}

.pitch {
  background-color: #12003eb7;
  /* background-color: #9ca3db; */
  /* background-color: #fffae5; */
}
/* main {
  background-color: #12003eb7;
} */
.container-1 {
  background-color: #12003eb7;
}
.container-3 {
  background-color: #12003eb7;
}
.container-4 {
  background-color: #12003eb7;
}
footer {
  background-color: #12003e;
}
/*//////////////////////////////////////////////////////////////*/
/* *Typography */
/*//////////////////////////////////////////////////////////////*/
a {
  text-decoration: none;
}

h1 {
  line-height: 1.1;
  letter-spacing: 1vw;
  font-size: 5vw;
}
/*TODO fix position. Dosnt look good with media query. FIXED...?  */

h2 {
  font-size: 1.8rem;
  padding: 1em 0 0.3em 0;
  letter-spacing: 1vw;
  color: #9ca3db;
}
/* header h2 {
  color: #677db7;
} */
/* footer h2 {
  padding: 1em 0;
} */

h3 {
  padding: 1em;
  /* letter-spacing: 0.5vw; */
  font-size: 1.9rem;
  color: #9ca3db;
}
footer h3 {
  padding: 1em 0;
}
p {
  line-height: 1.5;
  font-size: 1rem;
  /* color: #12003e; */
  color: #c5cbfc;
  /* letter-spacing: 0.1vw;
  word-spacing: 0.5vw; */
}
header p {
  color: #c5cbfc;
}
span {
  font-size: larger;
  text-shadow: none;
  color: #b23a48;
}
h1 span {
  /* font-family: "Goldman", cursive; */
  font-family: "Permanent Marker", cursive;
  -webkit-text-stroke: #12003eb7 1px;
}

img {
  height: 15vw;
}
ul {
  padding-inline-start: 0;
}
nav a {
  /* color: #12003e; */
  color: #b23a48;
}
nav a:active {
  color: #b23a48;
  font-weight: 100;
}

/*////////////////////////////////////////////////////////////////////////*/
/* *Grid-areas */
/*////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////*/
/* *Navigation-area */
/*////////////////////////////////////////*/
nav {
  grid-column-start: nav;
  backdrop-filter: blur(5px);
  border-radius: 0;
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 15px 0;
  position: fixed;
  z-index: 99;
  box-sizing: content-box;
  border-bottom: solid 2px #12003e;
  /* border-bottom-left-radius: 20px;
  border-top-left-radius: 20px; */
  /* transition: all 1s ease; */
}
/* 
.nav_block {
  grid-area: nav;
  background-color: rgb(29, 29, 28);
  z-index: 98;
  position: absolute;
  z-index: 0;
} */

/*//////////////////////////////*/
/* *Navigation buttons */
/*//////////////////////////////*/

nav ul {
  display: flex;
  /* justify-content: left; */
  list-style-type: none;
  font-weight: 600;
  font-size: 18px;
}

nav li {
  margin-left: 10px;
  margin-right: 10px;
}
nav li:active {
  transform: scale(1.05);
  transform-origin: center;
}

nav a {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 0.8rem;
  transform-origin: center;
  /* padding: 3px; */
  /* border-radius: 8px; */
}
nav a:active {
  color: #9ca3db;
}

/*//////////////////////////////*/
/* *Navigation image */
/*//////////////////////////////*/

nav img {
  height: 3em;
  cursor: pointer;
  float: left;
  position: absolute;
  margin: 3px;
  z-index: 4;
  top: 0%;
  left: 0.5%;
  transition: all 1s;
}

nav img:hover {
  transform: scale(1.5) rotate(360deg);
  transform-origin: center;
}

/*////////////////////////////////////////*/
/* *Header-area */
/*////////////////////////////////////////*/

header {
  grid-column-start: nav_header;
  grid-column-end: header;
  background-image: url(https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1211&q=80);
  background-size: cover;
  display: grid;
  grid-template-areas:
    "htext htext htext"
    "cvs   hero  cvf";
  grid-template-columns: 1fr 1fr 1fr;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* text-align: center; */
  /* margin-top: 5em; */
  /* padding: 5em 1em 0 5em; */
  z-index: 1;
  border-bottom: #9ca3db6c solid 25px;
  /* margin-bottom: 1em; */
  /* margin-inline: 1em; */
  /* background-color: #eecc526e; */
}

article.header_text {
  grid-area: htext;
  text-align: center;
  margin: 5em 2em;
}

/* *Header text */

/* *Header hero image */

header img.hero {
  animation: 3s cubic-bezier(0.35, -0.37, 0.27, 1.55) 1 heroSlideIn forwards;
  z-index: 3;
  grid-area: hero;
  justify-self: center;
  height: 35vw;
}

/*//////////////////////////////*/
/* *Header CV */
/*//////////////////////////////*/

img.cv {
  height: 13vw;
}
p.cv {
  max-width: fit-content;
}

/* *Standard CV */

a.cv.standard {
  grid-area: cvs;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: fit-content;
  text-decoration: none;

  border: none;
}
.cv.standard {
  grid-area: cvs;
  transition: all 1s cubic-bezier(0.35, -0.37, 0.27, 1.55);
  transform: rotate(-5deg) translateY(0vw);
  z-index: 1;
  opacity: 0.9;
  border: solid 2px white;
}
img.cv.standard:hover {
  opacity: 1;
  height: 17vw;
}

/* *Fancy CV */

a.cv.fancy {
  grid-area: cvf;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: fit-content;
  text-decoration: none;

  border: none;
}
.cv.fancy {
  transition: 1s cubic-bezier(0.35, -0.37, 0.27, 1.55);
  transform: rotate(3deg);
  z-index: 1;
  opacity: 0.9;
  border: solid 2px white;
}
img.cv.fancy:hover {
  opacity: 1;
  height: 17vw;
}

/* img.cv.fancy:hover > img.cv.standard {
  opacity: 0.2;
} */

/*////////////////////////////////////////*/
/* *Pitch-area */
/*////////////////////////////////////////*/

.pitch {
  grid-area: pitch;
  display: flex;
  flex-direction: column;
  padding: 5em 2em;
  z-index: 90;
  margin: 20vw 3em;
  /* margin-inline: 3em; */
}

.pitch p {
  padding: 1em;
  /* max-width: 300px; */
}

/*////////////////////////////////////////*/
/* *Main-area */
/*////////////////////////////////////////*/

main {
  grid-area: main;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  /* background-color: lightgreen; */
  z-index: 90;
  margin-inline: 2em;
  /* margin-top: 7em; */
}

main h2 {
  padding: 1em;
  align-self: center;
  /* color: #607b7d; */
}

/*////////////////////////////////*/
/* * Sections of main */
/*////////////////////////////////*/

section h2:first-child {
  font-size: 3rem;
}

/*Todo put background on the sections instead of whole main to seperate (for whitespace) */

/*////////////////////////*/
/* * Knowledge section */
/*////////////////////////*/

.container-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  /* border-bottom: 3px solid; */
  padding: 10vw 1em;
  margin-bottom: 15vw;
}

.container-1 figure.img_wrap {
  /* width: 8vw; */
  grid-row-start: 2;
  /* border-radius: 8px; */
  transition: 0.5s ease-in-out;
  /* margin-inline: 2em; */
}

.container-1 figure {
  margin: 1em;
}

.container-1 figure img {
  height: 8vw;
  cursor: pointer;
  padding: 5px;
  /* background-color: #9ca3db; */
}

p.description {
  /* cursor: pointer; */
  letter-spacing: 0.5vw;
  font-weight: 600;
  margin: 0.8em;
  /* transition: opacity 0.5s, visibility 0.5s; */
}

/*////////////////////////*/
/* * Skills section */
/*////////////////////////*/

.container-3 {
  /* display: grid; */
  /* align-items: center; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: auto; */
  /* border-bottom: 3px solid; */
  padding: 10vw 1em;
  margin-bottom: 15vw;
}

.container-3 h2 {
  grid-row: 1;
  grid-column: 1/4;
}

.container-3 figure {
  margin: 1vw;
  border: 1px solid #9bb6ff;
  box-shadow: 0 0 20px #9bb6ff;
}

.container-3 img {
  backdrop-filter: blur(2px);
  background-color: #9ca3db80;
  padding: 3vw;
  margin-inline: 20px;
  border: 2px solid;
}

/*////////////////////////*/
/* * Projects section */
/*////////////////////////*/

.container-4 {
  flex-flow: row wrap;
  padding: 10vw 1em;
  margin-bottom: 15vw;
}

.container-4 figure.img_wrap {
  grid-row-start: 2;
  border: 1px solid #9bb6ff;
  box-shadow: 0 0 20px #9bb6ff;
  transition: 0.5s ease-in-out;
}

.container-4 img {
  margin: 0.5em;
  height: 10em;
}

/*////////////////////////////////////////*/
/* *Footer-area */
/*////////////////////////////////////////*/

footer {
  grid-area: footer;
  display: grid;
  grid-template-areas:
    "contact empty navigate"
    "logo   hero  cvlinks";
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3em 4em;
  z-index: 100;
}

footer img {
  height: 50px;
  margin: 0.5em;
}

footer ul {
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  list-style-type: none;
  font-weight: 600;
  font-size: 18px;
}

footer li {
  margin: 0.3em;
  /* transform-origin: center; */
}
footer a:active {
  color: #9ca3db;
}

footer a {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 0.8rem;
  color: #b23a48;
  /* padding: 3px; */
  /* border-radius: 8px; */
}

/*//////////////////////////////////////////////////////////////*/
/* *Media queries */
/*//////////////////////////////////////////////////////////////*/

/* Query will be displayed when width of screen is minimum 700px */
@media (min-width: 700px) {
  body {
    grid-template-columns: 135px 1fr;
    grid-template-areas:
      "nav_header    header"
      "nav           pitch"
      "nav           main"
      "footer        footer";
  }

  nav {
    height: 100%;
    /* align-items: flex-start; */
    /* justify-content: center; */
    width: 135px;
    padding: 80px 0 0 0;
    /* border-radius: 0; */
    /* border-bottom: unset; */
    /* box-sizing: content-box; */
    /* margin: 0; */
    /* margin-right: 10px; */
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav li {
    margin-bottom: 10px;
  }

  nav img {
    top: 1%;
    left: 20%;
    height: 5em;
  }

  header {
    padding-left: 135px;
  }
}

/*//////////////////////////////////////////////////////////////*/
/* *Keyframes */
/*//////////////////////////////////////////////////////////////*/

@keyframes slideInFromTop {
  0% {
    transfrom: translateY(0px);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cvSlideIn {
  0% {
    transform: translatex(600px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes heroSlideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}

@keyframes heroText {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(30px);
  }
}
